body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.text {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 65px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: auto;
    width: 38px;
}

.logo-text {
    font-weight: bolder;
    color: rgb(248, 63, 103);
    text-decoration: none;
    font-size: 20px;
}

a {
    color: black;
}

.header-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top-links {
    text-decoration: none;
    padding: 7px;
}

.top-links:hover {
    background-color: rgb(241, 241, 241);
    padding: 7px;
    border-radius: 30px;
}

.main-content {
    padding: 21px 72px;
}

.subtitle {
    display: flex;
    flex-direction: column;
}

.main-subtitle {
    font-size: 24px;
    font-weight: bold;
}

.subtext {
    display: flex;
    padding: 10px 0px;
}

.sublist {
    display: flex;
    padding: 0 25px 12px;
    margin: 0;
    gap: 25px;
}

.rating {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.rating li::before {
    content: "★";
    padding-right: 5px;
}

.photos {
    display: flex;
}

.property-imgs {
    height: auto;
    width: 774px;
    border-radius: 10px;
    flex: 1;
    min-width: 100px;
}

.bottom-subtitle {
    padding: 26px 0px 12px;
    border-bottom: 1px solid rgb(223, 223, 223);
    display: flex;
    align-items: center;
    gap: 50px;
    flex: 1;
    min-width: none;
}

.mini-subtitle {
    font-weight: bold;
    font-size: 19px;
}

.mini-subtext {
    display: flex;
    margin-top: -10px;
}

.guests {
    flex: none;
}

.sublist {
    flex:none;
}

.host-image {
    height: auto;
    width: 50px;
    border-radius: 1000px;
}

.section1 {
    padding: 26px 0;
    border-bottom: 1px solid rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sub-icon {
    height: auto;
    width: 25px;
}

.subsection1,
.subsection2,
.subsection3 {
    display: flex;
    align-items: center;
    gap: 35px;
}

.subsection-title {
    font-weight: bold;
}

.subsection-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.section2 {
    padding: 30px 0px 35px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.mini-subtitle {
    padding-bottom: 20px;
}

.show-more1 {
    padding-top: 20px;
}

.section3 {
    padding: 35px 0px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.mini-boxs {
    display: flex;
    gap: 15px;
}

.mini-box1,
.mini-box2 {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 15px;
    padding: 22px 77px 22px 22px;
    display: flex;
    flex-direction: column;
}

.bed,
.room {
    padding: 20px 0px 10px;
    font-weight: bold;
}